#map {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}
.general {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
h1 {
    float: left;
}

#buttonContainer {
    margin-top: 10px;
    padding-bottom: 20px;
}
.btn-control-group {
    margin-bottom: 30px;
}
.dropdown {
    float: right;
}


.btn-group-toggle,
.dropdown {
    margin-top: 10px; /* Abstand zwischen den Elementen hinzufügen */
}

.custom-tooltip {
    font-size: 14px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #000;
}

.leaflet-tooltip-own {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #000;
    color: #000;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    transform: rotate(45deg) !important;
}

.rotated-labels {
    width: 1000px;
    transform-origin: left center;
    font-weight: bold;
    hyphens: none;
}